@import "tailwindcss";

@font-face {
  font-family: 'Six Caps';
  src: url('/fonts/SixCaps-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-six-caps: 'Six Caps', sans-serif;
}

html, body {
  background-color: #f0efeb !important;
  color: #302c1a;
  overflow-x: hidden;
}
